<section
    id="aboutme"
    class="mt-36 max-w-screen-lg m-auto gap-2 grid p-4 md:p-4"
>
    <h2 class="text-white text-5xl text-center font-primary font-semibold">
        About Me
    </h2>
    <div class="grid gap-6 sm:gap-0 sm:grid-cols-2 mt-8 items-center">
        <img
            src="../../public/images/Me.jpg"
            alt="image-profile"
            class="aspect-square w-72 object-cover object-top rounded-lg border m-auto"
        />
        <div class="flex flex-col gap-4">
            <p class="text-white">
                Hi! I'm Kevin Guido, a software developer from Costa Rica. I’m a
                person who is committed to quality and continuous improvement. I
                enjoy both frontend and backend development and I take on the
                challenges they bring, always looking for useful solutions that
                make a difference.
            </p>
            <p class="text-white">
                I consider myself self-taught and, as a professional, I always
                give my best. I enjoy learning new things and constantly growing
                in the world of software development.
            </p>
        </div>
    </div>
</section>
