---

---

<section class="sp-8 p-6 mt-36 md:mt-0" id="experience">
    <div class="max-w-screen-lg m-auto gap-2 grid">
        <div>
            <h2
                class="text-white text-5xl text-center font-primary font-semibold"
            >
                Experience
            </h2>
            <ol
                class="relative border-s border-gray-200 dark:border-gray-700 mt-6"
            >
                <li class="mb-10 ms-6">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-white"
                    >
                    </span>
                    <h3
                        class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
                    >
                        Centauro Solutions
                    </h3>
                    <time
                        class="block mb-2 text-md font-normal leading-none text-gray-300 dark:text-gray-500"
                        >(3 months) September 2025 – November 2025
                    </time>
                    <p class="mb-4 text-base font-normal text-gray-300">
                        At Centauro Solutions, I worked as a Frontend Developer Intern. My
                        main task was to improve the platform’s responsive
                        design to provide a better UX/UI for clients. I also
                        worked with the SCRUM methodology and used Git Flow for
                        version control, including releases, hotfixes, and code
                        reviews.
                    </p>
                </li>
                <li class="mb-10 ms-6">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-white"
                    >
                    </span>
                    <h3
                        class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
                    >
                        Universidad de Costa Rica's Research and Development
                        (R&D) team
                    </h3>
                    <time
                        class="block mb-2 text-md font-normal leading-none text-gray-300 dark:text-gray-500"
                        >1+ year (ongoing)</time
                    >
                    <p class="mb-4 text-base font-normal text-gray-300">
                        I’m part of the R&D team, where I work on both <strong
                            >backend and frontend</strong
                        > tasks. We follow the <strong>SCRUM</strong> methodology,
                        use <strong>GitHub</strong> for version control, and manage
                        development environments with <strong>Docker</strong>.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>
