---

---

<nav
    class="fixed hidden items-center gap-10 mt-12 px-8 py-3 border bg-white-200 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-100 border-gray-100 left-1/2 transform -translate-x-1/2 z-10 sm:flex"
>
    <!-- <h2 class="text-white font-primary text-2xl font-bold">K</h2> -->
    <ul class="flex gap-6 text-white font-primary">
        <li><a href="#" class="glow-hover">Home</a></li>
        <li><a href="#projects-section" class="glow-hover">Projects</a></li>
        <li><a href="#skills-section" class="glow-hover">Skills</a></li>
        <li><a href="#aboutme-section" class="glow-hover">About me</a></li>
    </ul>
</nav>

