---
import Card from "./Card.astro";
import HorizontalCard from "./HorizontalCard.astro";
---

<section class="sp-8 p-4 mt-36" id="projects">
    <div class="max-w-screen-lg m-auto gap-2 grid">
        <div>
            <h2
                class="text-white text-5xl text-center font-primary font-semibold"
            >
                Projects
            </h2>
            <p class="text-white font-primary mt-4">
                Some of the projects I have worked. I used different
                technologies and skills in frontend and backend development, as
                well as in UX/UI design and devOps. This allowed me to solve
                technical challenges and create solutions in different areas of
                software development.
            </p>
        </div>
        <HorizontalCard
            title={"SpringBoot micro-services (in development)"}
            img={"/images/micro-services.jpg"}
            description={"This is a practice project built to learn and explore microservices architecture using Spring Boot. Each microservice is containerized with Docker, and database migrations are managed with Flyway to ensure version control. An API Gateway was implemented to handle all requests through a single entry point, improving scalability and routing. To ensure resilience, Resilience4j was added to manage failures when services do not respond. Keycloak was integrated for authentication and authorization, providing centralized and secure identity management across all services."}
            tags={[
                "SpringBoot",
                "API Gateway",
                "Flyway",
                "Docker",
                "Resilience4j",
                "Keycloak",
                "SpringCloud",
                "React",
            ]}
            gitHub={"https://github.com/kevGuido22/microservices-project"}
        />
        <HorizontalCard
            title={"Spotify Clone"}
            img={"/images/spotify.webp"}
            description={"This is a Spotify clone built using the Astro framework and TypeScript. React components were also added to apply the concept of Islands of Interactivity offered by Astro. Astro Transitions were used to improve the navigation experience between pages. For managing the global state, the Zustand library was chosen, making it easy and efficient to handle the application’s state."}
            tags={[
                "HTML",
                "TypeScript",
                "React",
                "Astro",
                "Tailwind",
                "Zustand",
            ]}
            web={"https://spotify-clone-rho-bay.vercel.app/"}
            gitHub={"https://github.com/kevGuido22/spotify-clone"}
        />
        <div
            class="grid grid-cols-[repeat(auto-fill,_minmax(350px,_1fr))] gap-4 mt-4"
        >
            <Card
                title={"Suru - Frontend"}
                img={"/images/suru-frontend.png"}
                description={"SURU is a real estate web platform developed as a university project in collaboration with classmates. We used React for the frontend and consumed an API that we also built ourselves. For HTTP requests, we used Axios, and we managed navigation with React Router, implementing both public and private routes.We also used Tailwind CSS for styling. SURU includes features like user login, user settings, an appointment system, property filters, an admin dashboard, dark mode, and more."}
                tags={[
                    "HTML",
                    "TailwindCSS",
                    "React",
                    "JavaScript",
                    "React Router",
                ]}
                web={"https://suru-development.vercel.app/"}
                gitHub={"https://github.com/Agile-Innovators/SURU-Development"}
            />
            <Card
                title={"Suru - Backend"}
                img={"/images/api-laravel.jpg"}
                description={"SURU Backend is a RESTful API that powers the frontend of our SURU platform. The backend is built with Laravel and uses a MySQL database.We implemented features such as authentication with JWT, as well as seeders and migrations for managing the database structure and test data.We also use Cloudinary to store and manage uploaded images."}
                tags={["Laravel", "PHP", "MySQL", "Cloudinary", "JWT", "RESTful API"]}
                gitHub={"https://github.com/Agile-Innovators/suru-backend"}
            />
        </div>
    </div>
</section>
