---
import SkillCard from "./SkillCard.astro";
---

<section id="skills" class="mt-36 p-4 md:p-4" >
    <div class="max-w-screen-lg m-auto gap-2 grid">
        <h2 class="text-white text-5xl text-center font-primary font-semibold">Skills</h2>
        <!-- <div
            class="grid grid-cols-[repeat(auto-fit,_minmax(100px,_1fr))] gap-4 mt-4 justify-items-center"
        > -->
            <div
            class="flex flex-row flex-wrap gap-4 mt-4 w-full justify-center"
        >
            <SkillCard
                title={"HTML"}
                img={"/images/html-icon.png"}
            />
            <SkillCard title={"CSS"} img={"/images/css-icon.png"} />
            <SkillCard
                title={"JavaScript"}
                img={"/images/js-icon.png"}
            />
            <SkillCard
                title={"Typescript"}
                img={"/images/TS-icon.png"}
            />
            <SkillCard
                title={"React"}
                img={"/images/react-icon.png"}
            />
            <SkillCard
                title={"SASS"}
                img={"/images/sass-icon.png"}
            />
            
            
            <SkillCard
                title={"TailwindCSS"}
                img={"/images/tailwindcss-icon.png"}
            />
            <SkillCard title={"PHP"} img={"/images/php-icon.png"} />
            <SkillCard
                title={"Laravel"}
                img={"/images/laravel-icon.png"}
            />
            <SkillCard
                title={"MySQL"}
                img={"/images/sql-icon.png"}
            />
            <!-- <SkillCard
                title={"Figma"}
                img={"/images/figma-icon.png"}
            /> -->
            
            <SkillCard
                title={"Java"}
                img={"/images/Java-icon.png"}
            />
            <SkillCard
                title={"SpringBoot"}
                img={"/images/SpringBoot-icon.png"}
            />
            <SkillCard
                title={"Docker"}
                img={"/images/Docker-icon.png"}
            />
        </div>
    </div>
</section>
